section.intro
  .intro__container.container
    .intro__image 
      img(src="images/intro.svg", alt="")
    .intro__main 
      h1.intro__title.title
        span Профессия: 
        | выбираем вместе с детьми
      .intro__text 
        p «Кем ты хочешь стать?» - кажется, этот вопрос задают детям, начиная с детского сада… <br>И все равно зачастую они даже в средней <br>школе еще не готовы на него ответить.

        p Для ищущих себя детей и переживающих за&nbsp;будущее родителей мы разработали тест, который поможет понять, в каких областях ребенка ждут большие перспективы. Вы можете пройти его вместе со школьником или самостоятельно – а в результатах мы расскажем, как сделать первые шаги в нужном направлении!

      .intro__action 
        button.intro__btn(type="button")
          +icon('down')(width="55", height="55")
        ul.intro__social.social 
          li.social__item 
            a.social__link.social__link--tw(href="#")
              +icon('tw')(width="21", height="16")
          li.social__item 
            a.social__link.social__link--ok(href="#")
              +icon('ok')(width="15", height="23")
          li.social__item 
            a.social__link.social__link--fb(href="#")
              +icon('fb')(width="13", height="21")
          li.social__item 
            a.social__link.social__link--b(href="#")
              +icon('b')(width="15", height="15")
