//-each item,index in QUESTIONS
  //- const addClass = ((index+1) % 2 === 0 ? 'quiz--reverse quiz--q' + (index + 1) : 'quiz--q' + (index + 1))
section.quiz.quiz--hidden
  .quiz__container.container
    .quiz__main.question
      h2.question__title.title
        span.question__title-num
        //-= (index + 1)
        span.question__title-text
        //-= item.q
      //-+custom-radio('answer', [], 20, 'question__answers')
    .quiz__aside
      img(src="", alt="")