-
  const ANSWERS_1 = [
    {text: 'Яркий лидер, инициативен, строит планы, собирает вокруг себя других.', type: 'pr'},
    {text: 'Спокойный, усидчивый, вдумчивый, от коллектива не зависит.', type: 'ik'},
    {text: 'Творческий, любит придумывать, снимает видео или ведет блог, любит аудиторию.', type: 'pm'},
    {text: 'Любит порядок, комфортно чувствует себя в рамках правил, следит, чтобы их соблюдали другие. ', type: 'km'}
  ];

  const ANSWERS_2 = [
    {text: 'Математика, физика, химия', type: 'ik'},
    {text: 'Языки, литература, история', type: 'pm'},
    {text: 'Биология, психология, основы коммуникации', type: 'km'},
    {text: 'Экономика, обществознание, внеурочная деятельность', type: 'pr'}
  ];

  const ANSWERS_3 = [
    {text: 'Быстро схватывает суть, легко разбирается в новом, но склонен достаточно быстро забывать детали и подробности.', type: 'pr'},
    {text: 'Ему нужно время, чтобы разобраться в проблеме, не всегда готов воспринимать информацию, если она не относится к сфере его интересов.', type: 'km'},
    {text: 'Любит докапываться до сути, выяснять детали и глубоко погружаться в проблему.', type: 'ik'},
    {text: 'Обладает широким взглядом, пытается привязать новую информацию к уже известной, легче запоминает, если сам рассказывает кому-то.', type: 'pm'}
  ];

  const ANSWERS_4 = [
    {text: 'Научные или связанные с программированием/робототехникой.', type: 'ik'},
    {text: 'Увлекается языками или творческими проектами.', type: 'pm'},
    {text: 'Занимается спортом или любит естественные/биологические опыты.', type: 'km'},
    {text: 'Любит тренинги и мастер-классы от признанных лидеров в своей области.', type: 'pr'}
  ];

  const ANSWERS_5 = [
    {text: 'Разработкой: созданием структуры сайта, либо его версткой.', type: 'ik'},
    {text: 'Контентом: написанием текстов, подбором фотографий, презентацией.', type: 'pm'},
    {text: 'Организацией: сбором команды, распределением ролей, защитой презентации.', type: 'pr'},
    {text: 'Участвовал бы в той деятельности, где команде больше всего нужны дополнительные руки/силы.', type: 'km'}
  ];

  const ANSWERS_6 = [
    {text: 'Всегда доносить свое мнение, увлекать людей, генерировать успешные идеи.', type: 'pr'},
    {text: 'Видеть проблемы других людей и оптимальные способы их решения.', type: 'km'},
    {text: 'Способность «понимать» искусственный интеллект и видеть наилучшие пути его применения в науке.', type: 'ik'},
    {text: 'Умение облекать свои идеи в максимально точную словесную или визуальную форму: писать лучшие тексты и снимать видео, собирающие миллионы просмотров.', type: 'pm'}
  ];

  const ANSWERS_7 = [
    {text: 'Разработать лекарство от какого-то серьезного заболевания.', type: 'km'},
    {text: 'Основать и развить компанию, которая перевернет рынок.', type: 'pr'},
    {text: 'Изобрести технологию, которая изменит мир.', type: 'ik'},
    {text: 'Создать медиа/блог, который читают или смотрят все его сверстники.', type: 'pm'}
  ];

  const ANSWERS_8 = [
    {text: 'Онлайн-трансляцию с обзором последних событий в блогосфере и трендов в журналистике.', type: 'pm'},
    {text: 'Выставку высокотехнологичных достижений в интересной ему сфере знаний.', type: 'ik'},
    {text: 'Мастер-класс или дискуссию с владельцем/руководителем успешной компании.', type: 'pr'},
    {text: 'Выставку новейших разработок в военной или медицинской области.', type: 'km'}
  ];

  const ANSWERS_9 = [
    {text: 'Ученый: конструирует ракету или разрабатывает программы исследований.', type: 'ik'},
    {text: 'Журналист: подробно освещает процесс, разбирается в теме и «горит» ею.', type: 'pm'},
    {text: 'Ответственный за безопасность команды или главный врач экспедиции.', type: 'km'},
    {text: 'Организатор: собирает команду, руководит процессом подготовки.', type: 'pr'}
  ];

  const ANSWERS_10 = [
    {text: 'В известное и влиятельное медиа.', type: 'pm'},
    {text: 'В передовую лабораторию или медицинскую клинику.', type: 'km'},
    {text: 'В научно-технологическую компанию, известную выдающимися изобретениями.', type: 'ik'},
    {text: 'В один из ведущих маркетплейсов, в департамент, который занимается поиском партнеров и поставщиков.', type: 'pr'}
  ];

  const QUESTIONS = [
    {q: 'Как вы можете охарактеризовать своего ребенка?', answers: ANSWERS_1},
    {q: 'Какие предметы ему лучше даются?', answers: ANSWERS_2},
    {q: 'Как он обычно осваивает новую информацию?', answers: ANSWERS_3},
    {q: 'На какие кружки предпочитает ходить?', answers: ANSWERS_4},
    {q: 'Если команде учеников необходимо создать и защитить проект (например, сайт школы или класса), чем хотел бы заняться ваш ребенок?', answers: ANSWERS_5},
    {q: 'Допустим, у ребенка есть возможность выбрать одну суперспособность – какую бы он выбрал?', answers: ANSWERS_6},
    {q: 'Если бы он мог совершить одно открытие/достижение, какое он бы выбрал?', answers: ANSWERS_7},
    {q: 'На какую профильную выставку или мастер-класс ему было бы интереснее всего пойти?', answers: ANSWERS_8},
    {q: 'Представьте, что молодые специалисты в недалеком будущем планируют первый полет на Марс. Какую роль выберет ребенок?', answers: ANSWERS_9},
    {q: 'Допустим, ребенка приглашают на стажировку в одну из ведущих компаний отрасли – куда он хотел бы пойти?', answers: ANSWERS_10}
  ];

  const RESULTS = [
    {
      title: 'Ваш ребенок готов влиять на умы', 
      text: '<p>Талантливый журналист, выдающийся блогер или непревзойденный педагог-новатор – вполне вероятно, что именно ваш ребенок станет тем, кто влияет на умы поколения, предлагая им свой взгляд на проблемы и события.</p><p>Тем, кто хочет глаголом жечь сердца, мы советуем обратить внимание на новое направление предпрофподготовки, доступное в московских школах – медиаклассы. В рамках этой программы школьникам доступны лекции и мастер-классы на базе ведущих медиавузов страны, стажировки в медиакомпаниях и СМИ, занятия по основам журналистики, медиакоммуникаций и связей с общественностью.</p><p>Тем, кто с юного возраста мечтает учить и воспитывать, могут подойти педагогические классы, разработанные при поддержке Московского городского педагогического университета. Там будущие преподаватели смогут познакомиться с основами психологии, педагогики и социологии, пройти социальную практику в школах, кружках и приютах, вести исследовательскую и проектную деятельность.</p>',
      type: 'pm'
    },
    {
      title: 'Ваш ребенок готов изобретать',
      text: '<p>Высокотехнологичные разработки в медицине, новые открытия в области ядерной физики, развитие искусственного интеллекта или разработка мобильных приложений? Возможно, это дело рук вашего ребенка в недалеком будущем!</p><p>Если ему близка именно научная деятельность, обратите внимание на открытые в московских школах инженерные классы. Ребят обучают основам научных технологий в сотрудничестве с Национальным исследовательским ядерным университетом «МИФИ», Государственной корпорацией по атомной энергии «Росатом» и Национальным исследовательским центром «Курчатовский институт».</p><p>Если ребенок грезит о карьере разработчика или программиста, ему подойдут IT-классы, созданные при участии ведущих IT-компаний страны. В них обучают основам машинного обучения, программирования и сетевой безопасности, разработке мобильных приложений и управлению беспилотниками.</p>',
      type: 'ik'
    },
    {
      title: 'Ваш ребенок – прирожденный предприниматель',
      text: '<p>Он способен собрать команду под любую задачу, генерирует десятки способов решить сложную проблему или просто стремится открыть свое дело даже в юном возрасте? Это крайне востребованные в наше время способности и умения, которые важно вовремя поддержать.</p><p>Обратите внимание на предпринимательские классы, появившиеся в московских школах в рамках предпрофподготовки на базе академических классов. Там будущих гениев предпринимательства учат основам разработки и реализации своих идей, отрабатывают навыки работы с командой и защиты своих проектов. Программа обучения разработана совместно с Российским экономическим университетом имени Г.В. Плеханова.</p>',
      type: 'pr'
    },
    {
      title: 'Ваш ребенок хочет помогать людям',
      text: '<p>Кажется, ваш ребенок не мыслит своего будущего без помощи людям, попавшим в сложную ситуацию или просто нуждающимся в его знаниях и умениях. Возможно, он грезит о карьере врача, спасателя или военного?</p><p>Посоветуйте ему обратить внимание на кадетские или медицинские классы, доступные в рамках программ предпрофподготовки в школах Москвы. Они разработаны совместно с профильными ведомствами и знакомят ребят с основными навыками и умениями, которые необходимы представителям этих сложных и благородных профессий.</p><p>В кадетских классах дети осваивают робототехнику, основы навигации и пилотирования, дипломатический этикет и другие навыки, необходимые для дальнейшего продвижения в рамках гражданской и военной службы. В медицинских классах ребятам преподают основы медицинских знаний, физиологии и анатомии, знакомят с функциональными системами человека и учат азам микробиологии.</p>',
      type: 'km'
    }
  ];